<!DOCTYPE html>
<html>
    <head>

        <title>TicTacSocket</title>
        {{!-- Styles --}}
        <link href="css/main.css" rel="stylesheet"/>
        {{!-- Scripts --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        {{!-- Fonts --}}
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,500&display=swap" rel="stylesheet">
        {{!-- Metas --}}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />  

        {{{_sections.head}}}
    </head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>