
{{#section 'head'}}
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
{{/section}}

<div class="header">
    <div class="menu-container">
        <h1>Tic Tac Socket</h1>
        <div class="menu-form">
            <div class="username-container">
                <label for="userInput" class="menu-item">Enter your username</label>
                <input id="userInput" class="menu-item" type="text" placeholder="Username">
            </div>
            <div class="join-container">
                <label for="joinInput" class="menu-item">To join an existing room: </label>
                <input id="joinInput" class="menu-item" name="roomName" type="text" placeholder="Room name">
                <button id="joinButton" class="menu-item join-button">Join room</button>
            </div>
            <div class="create-container">
                <label for="createInput" class="menu-item">To create a room: </label>
                <input id="createInput" class="menu-item" name="roomName" type="text" placeholder="Room name">
                <button id="createButton" class="menu-item create-button">Create room</button>
            </div>
        </div>
    </div>
    <div class="header-image-container">

    </div>
</div>