{{#section 'head'}}
    <script type="text/javascript" src="/js/game.js"></script>
{{/section}}

<div id="roomName">{{roomName}}</div>
<div id="userName">{{userName}}</div>
<h2 id="players">Players joined: 1/2</h2>