
body {
    background: white;
}

.board-game-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.board-game {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    position: relative;
}

.board-item {
    text-align: center;
    background-position: center;
}

.token,
.token-box {
    width: 100%;
    height: 100%;
}

.token-box {
    transition: 300ms;
    opacity: 0;
    cursor: pointer;
}

.token-circle,
.token-cross {
    background-position: center;
    background-repeat: no-repeat;
}

.token-cross {
    background-image: url('../images/cross.svg');
}

.token-circle {
    background-image: url('../images/circle.svg');
}

.token-box:focus,
.token-box:hover {
    opacity: .4;
}

/* ITEMS */

.item-middle-left,
.item-middle-right {
    border-top: 3px rgb(160, 160, 160) solid;
    border-bottom: 3px rgb(160, 160, 160) solid;
}

.item-middle-middle {
    border: 3px rgb(160, 160, 160) solid;
}

.item-top-middle,
.item-bottom-middle {
    border-left: 3px rgb(160, 160, 160) solid;
    border-right: 3px rgb(160, 160, 160) solid;
}

/* END ITEMS */

.footer-options {
    display: flex;
    justify-content: center;
}

.turn-label {
    margin-top: 2em;
    font-weight: 900;
    color: rgb(70, 70, 70);
    border: 2px solid rgb(70, 70, 70);
    padding: .4em .8em;
    border-radius: 100px;
}

/*  MODALS  */

.modal-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.wait-modal {
    text-align: center;
    background: white;
    max-width: 300px;
    padding: .3em 1.5em;
    border-radius: 10px;
    margin: 10em auto;
}